@{
Layout="Shared/_Layout.cshtml";
}

@foreach (var Car in Model)
    {
      <div class="well">
        <div class="form-group">
          <p>Model: @Car.GetMakeModel() </p>
          <p>Mileage: @Car.GetMileage() </p>
          <p>Interior Color: @Car.GetInteriorColor() </p>
          <p>Exterior Color: @Car.GetExteriorColor() </p>
          <p>Price: @Car.GetPrice() </p>
          <form action="delete-car" method="post">
            <button name="delete-button" type="submit" value=@Car.GetId()>Purchase!</button>
          </form>
        </div>
      </div>
    }
